In [1]:
#Q1) Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [4]:
# Create a list with 10 elements
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Convert the list to a Pandas Series
series = pd.Series(my_list)

# Print the Series
print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [6]:
# Define the data for the DataFrame as a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female','Male','Female']
}

# Create a Pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [7]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
DataFrame:
    
    ->A DataFrame in pandas is a 2-dimensional labeled data structure with rows and columns, similar to a table or spreadsheet. It is a collection of Series objects aligned by a 
        common index.

    ->It can be thought of as a container for storing and manipulating tabular data where each column can be of a different data type (integer, float, string, etc.).

    ->The rows and columns of a DataFrame can be labeled for indexing and referencing.

Series:

    -> A Series in pandas is a 1-dimensional labeled array capable of holding data of any type (integer, float, string, etc.). It is essentially a single column of data with an 
        associated index.

    ->It is like a fixed-size dictionary where you can get and set values by index label.

In [8]:
# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print("\n")

# Example Series (selecting a single column from DataFrame)
ages_series = df['Age']
print("Series (Age column from DataFrame):")
print(ages_series)

DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago


Series (Age column from DataFrame):
0    25
1    30
2    35
Name: Age, dtype: int64

In [9]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [ ]:
Pandas provides a rich set of functions for manipulating data in a DataFrame. These functions enable tasks such as selecting and filtering data, 
transforming data, handling missing values, merging datasets, and much more.

In [10]:
# Example using head() and tail()
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 35, 28, 32],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Seattle']
}
df = pd.DataFrame(data)

print("First few rows:")
print(df.head())

print("\nLast few rows:")
print(df.tail())

First few rows:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston
4    Emily   32      Seattle

Last few rows:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston
4    Emily   32      Seattle

In [11]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Among the options provided (Series, DataFrame, Panel), the mutable nature refers to the ability to change or modify the object after it has been created.

-> Series: A pandas Series is mutable. This means you can modify the values of a Series after it has been created. 
            You can change individual elements or assign new values to existing indices.

-> DataFrame: A pandas DataFrame is also mutable. You can modify the contents of a DataFrame by adding or removing columns, changing values within the DataFrame, or 
                performing various data manipulation operations.

-> Panel: In older versions of pandas, there was a data structure called Panel which represented 3-dimensional data (analogous to a DataFrame for 3-dimensional data). 
            However, Panel has been deprecated in favor of using MultiIndex DataFrame or other data structures to handle 3-dimensional data. Panel was mutable when it was in use.

In [12]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

In [13]:
import pandas as pd

# Create multiple Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
age_series = pd.Series([25, 30, 35, 28])
city_series = pd.Series(['New York', 'Los Angeles', 'Chicago', 'Houston'])

# Combine the Series into a dictionary
data = {
    'Name': name_series,
    'Age': age_series,
    'City': city_series
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston